.StopLight-div {
  background-color: black;
  width: 50px;
  padding: 5px;
  border-radius: 6px;
  max-height: 170px;
}

.StopLight-button {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  opacity: 0.50;
  float: left;
}

.StopLight-buttonBackground {
  opacity: 1;
  background-color: white;
}

.StopLight-red {
  background: #F50C10;
  margin-bottom: 5px;
}

.StopLight-yellow {
  background: yellow;
  margin-bottom: 5px;
}

.StopLight-green {
  background: #74f442;
}

.StopLight-button-selected {
  opacity: 1;
}